<div class="jumbotron">
  <p><a href="http://html5experts.jp/series/angularjs-beginning/" target="_blank">初心者から中級者まで、今注目のAngularJS徹底解説</a></p>
</div>

<div class="row marketing">
  <h4>
    第1回 これから始めるAngularJS
    <a href="http://html5experts.jp/canidoweb/11543/" target="_blank">[ 記事 ]</a>
  </h4>
  <ul>
    <li><del>サンプルコード</del></li>
    <li><del>デモ</del></li>
  </ul>

  <h4>
    第2回 AngularJS の強力なフォームバリデーション
    <a href="http://html5experts.jp/canidoweb/11543/" target="_blank">[ 記事 ]</a>
  </h4>
  <ul>
    <li><a href="#">サンプルコード</a></li>
    <li><a href="#/number2/">デモ</a></li>
  </ui>
</div>

<div class="footer">
  <small>can.i.do.web</small>
</div>
